body {
    font-family: Arial, sans-serif;
    background-color: #e1b75d; 
    text-align: center;
    margin: 5px;
    padding: 10px;
}

nav {
    background-color: #171615; 
    padding: 15px;
}

nav a {
    color: rgb(212, 200, 200);
    font-size: 20px;
    margin: 15px;
}

h1, h2 {
    color: #050701; 
    margin-top: 20px;
    font-size: 30px;
    padding-block: 10px;
}

img a{
    width: 1ch;
    border-radius: 30%;
    margin: 15px;
    float: left;
    vertical-align: middle;
}
img b{
    width: 1ch;
    border-radius: 10%;
    margin: 15px;
    float: left;
    
}
p {
      color: rgb(17, 1, 4);
      font-size: 18px;
      line-height: 1.6;
      text-align: center;
     text-decoration-thickness: ;
    }